// UserInfo.module.scss
@import '../../../../styles/_mixins';
@import '../../../../styles/_variables';

.userInfo {
	display: flex;
	justify-content: flex-end;
	flex: 0 0 auto;
	min-width: 130px;
	height: 32px;
	align-items: center;
}

.userInfo__details {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-right: 2px;
	width: 100%;
}

.userInfo__details > * {
	width: 100%;
	text-align: right;
}

.userInfo__userName {
	opacity: 0.7;
	font-size: 14px
}

.userInfo__logout {
	font-size: 10px;
	opacity: 0.4;
}

.userInfo__loadingIcon {
	width: 24px;
	height: 24px;
	opacity: 0.5;
	animation: spin 2s linear infinite;
}

.userInfo__userPicture {
	width: 32px;
	height: 32px;
	border-radius: 50%;
}


// Адаптивная верстка для мобильной версии 768px
@include mobile {
	.userInfo {
		flex-direction: column;
		margin-top: 100px;
	}

	.userInfo__details {
		align-items: center;
		font-size: 18px;
	}

	.userInfo__details > * {
		text-align: center;
	}

	.userInfo__userName {
		display: none;
	}

	.userInfo__userPicture {
		width: 32px;
		height: 32px;
		margin-top: 20px;
	}

	.userInfo__logout {
		font-size: 18px;
		color: var(--scan-light-blue);
	}

	.userInfo__logout:hover {
		opacity: 1;
	}
}