// Main.module.scss
@import '../../styles/_variables';
@import '../../styles/_mixins';

main {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}

.mainPage {
	padding: 93px 0 0 0;
	max-width: 1440px;
	flex-grow: 1;
	margin: 0 auto;

}

