main {
    width: 100%;
    background-color: var(--scan-white);
}

.mainPage {
    padding: 93px 0 0 0;
    max-width: 1440px;
    flex-grow: 1;
    margin: 0 auto;
}

@media (max-width: 1360px) {

    .mainPage {
        padding-top: 90px;
        max-width: 375px;
    }

}