// _variables.scss
:root {
	--scan-green: #029491;
	--scan-light-green: #949494;
	--scan-light-grey: #C7C7C7;
	--scan-rectangle: #F3F3F3;
	--scan-red: #FF5959;
	--scan-black: #23211f;
	--scan-white: #FFFFFF;
	--scan-yellow: #FFB64F;
	--scan-limit: #8AC540;
	--scan-light-blue: #55a6ed;
	--scan-tariff-badge: #3BA5E0;
	--scan-blue: #5970FF;
	--scan-grey: #D2D2D2;
	--scan-green-pro: #7CE3E1;
	--scan-shadow: #00000033;
	--scan-shadow-light: #00000011;
	--scan-shadow-light-grey: #888;
}
