@import 'reset';
@import '_variables';
@import '_mixins';

/* Project styles */
@font-face {
	font-family: 'Ferry';
	src: local('ferry'), url('../fonts/ferry.otf') format('opentype');
}

@font-face {
	font-family: 'InterRegular';
	src: local('InterRegular'), url('../fonts/InterRegular.ttf') format('truetype');
}

body, html {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "InterRegular", sans-serif;
	font-size: 1vw; // Используйте vw для "резинового" размера шрифта
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

h1 {
	font-family: Ferry, sans-serif;
	font-size: 4.166vw; // 60px при ширине 1440px
}

h2 {
	font-family: Ferry, sans-serif;
	font-size: 3.125vw; // 45px при ширине 1440px
}

.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-width: 100%;
	margin: 0 auto;
}

.button {
	font-size: 1.527vw; // 22px при ширине 1440px
}

input {
	font-family: 'InterRegular', sans-serif;
	font-size: 1.111vw; // 16px при ширине 1440px
}

// Адаптивная верстка для мобильной версии 768px
@include mobile {
	body, html {
		font-size: 14px; // Фиксированный размер шрифта для мобильных
	}

	h1, h2 {
		font-size: 28px; // Фиксированный размер шрифта для мобильных
		width: auto; // Убрать фиксированную ширину для h2
	}

	.app {
		max-width: 768px; // Фиксированная максимальная ширина для мобильных
	}

	.button {
		font-size: 20px; // Фиксированный размер шрифта для мобильных
	}
}