// DocumentCount.module.scss
@import '../../../styles/_mixins';
@import '../../../styles/_variables';

.formField {
	margin-bottom: 30px;
}

.formField label {
	display: block;
	margin-bottom: 15px;
	font-size: 18px;
}

.formField input[type="text"],
.formField input[type="date"],
.formField input[type="number"],
.formField option,
.formField select {
	font-family: "InterRegular", sans-serif;
	width: 242px;
	padding: 8px;
	border-radius: 4px;
	border: 1px solid var(--scan-light-grey);
	font-size: 14px;
	box-shadow: 0 0 10px 0 var(--scan-shadow-light);
}

.formFieldInputs {
	max-height: 82px;
	min-height: 82px;
}

.inputError {
	text-align: center;
	color: var(--scan-light-green);
}

.requiredAsterisk {
	color: var(--scan-black);
	font-family: InterRegular, sans-serif;
	font-size: 25px;
}

.formField input:focus,
.formField option:focus,
.formField select:focus {
	outline: 1px solid var(--scan-green);
	border-color: var(--scan-green);
}

.formField .errorMessage {
	color: var(--scan-red);
	font-size: 14px;
	margin-top: 8px;
	text-align: center;
	width: 242px;
}

.formField input.inputError,
.formField select.inputError {
	border: 1px solid var(--scan-red);
	outline-color: var(--scan-red);
	color: var(--scan-red);
}

.formField input.error,
.formField select.error {
	border: 1px solid var(--scan-red);
	outline-color: var(--scan-red);
}

// Адаптивная верстка для мобильной версии 768px
@include mobile {
	.selectWrapper {
		width: 335px;
	}

	.formFieldInputs {
		max-height: none;
		min-height: 43px;
	}

	.formField input[type="text"],
	.formField input[type="date"],
	.formField input[type="number"],
	.formField option,
	.formField select {
		width: 335px;
		height: 43px;
	}
}