// UserActions.module.scss
@import '../../../../styles/_mixins';
@import '../../../../styles/_variables';

.userActions__rectangle {
	display: flex;
	flex: 0 0 175px;
	height: 63px;
	width: 100%;
	min-width: 175px;
	margin-right: 130px;
	border-radius: 5px;
	background-color: var(--scan-rectangle);
	border: none;
	align-items: center;
	justify-content: center;
}

.userActions__loading {
	width: 24px;
	height: 24px;
	opacity: 0.5;
	animation: spin 2s linear infinite;
}

.userActions__data {
	display: grid;
	grid-template-columns: 3.2fr 0.8fr;
	grid-row-gap: 0;
	grid-column-gap: 5px;
	color: var(--scan-shadow);
	font-size: 10px;
}

.action-item, .userActions__numberItem {
	display: flex;
	align-items: center;
	width: 100%;
}

.userActions__numberItem {
	text-align: right;
	justify-content: flex-end;
}

.userActions__usedCompaniesNumber {
	font-family: 'Inter Bold', sans-serif;
	color: var(--scan-black);
	font-size: 14px;
	margin-left: 2px;
}

.userActions__limitCompaniesNumber {
	opacity: 1;
	font-size: 14px;
	color: var(--scan-limit);
	margin-left: 2px;
}

// Адаптивная верстка для мобильной версии 768px
@include mobile {
	.userActions__rectangle {
		margin-right: 0;
		margin-left: 30px;
		flex: 0 0 132px;
		height: 75px;
		width: 100%;
		min-width: 132px;
	}

	.userActions__data {
		display: flex;
		flex-direction: column;
		row-gap: 3px;;
	}

	.userActions__actionItem, .userActions__numberItem {
		justify-content: left;
	}


}