// src/components/Header/Navbar/Navbar.module.scss
@import '../../../styles/_mixins';
@import '../../../styles/_variables';

.navbar {
	display: flex;
	flex: 0 0 236px;
	justify-content: space-between;
	align-items: center;
}

.navbar a:hover {
	opacity: 0.5;
}

// Адаптивная верстка для мобильной версии 768px
@include mobile {
	.navbar {
		display: flex;
		flex-direction: column;
		font-size: 16px;
		max-height: 120px;
	}

	.navbar a {
		color: var(--scan-white);
	}
}